<div class="vagabonds-dialog">

    <div class="input-group attribute">
        <div class="input big">
            <label for="attribute" class="label">{{localize 'VAGABONDS.Attribute'}}</label>
            <div class="value">
                <select id="attribute">
                    {{#select selectedAttribute}}
                    {{#each system.attributes}}
                    <option value="{{@key}}">{{label}} ({{value}})</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>

    <div class="flexrow">
        <div class="input-group">
            <div class="header">{{localize 'VAGABONDS.Proficiencies'}}</div>
            {{#each system.proficiencies}}
            <div class="proficiency">
                <input name="{{name}}" type="checkbox" value="1" id="{{_id}}" />
                <label for="{{_id}}" class=" label">{{localize name}}</label>
            </div>
            {{/each}}
        </div>

        {{> "systems/vagabonds-in-the-wilds/templates/dialog/parts/items.hbs"}}

    </div>

    <div class="input-group">
        <div class="input big">
            <label for="bonus" class="label">{{localize 'VAGABONDS.Bonus'}}</label>
            <input class="value" type="number" id="bonus" value="0" />
        </div>
        <div class="separator"></div>
        <div class="input big">
            <label for="push" class="label">{{localize 'VAGABONDS.Push'}}</label>
            <input class="value" type="checkbox" id="push" value="1" />
        </div>
    </div>

</div>