<div class="vagabonds-dialog">

    <div class="input-group method">
        <div class="input big">
            <label for="method" class="label">{{localize 'VAGABONDS.Method'}}</label>
            <div class="value">
                <select id="method">
                    {{#select selectedMethod}}
                    {{#each system.methods}}
                    <option value="{{@key}}">{{label}} ({{value}})</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>

    <div class="flexrow">
        <div class="input-group">
            <div class="header">{{localize 'VAGABONDS.Proficiencies'}}</div>
            {{#each system.proficiencies}}
            <div class="proficiency">
                <input name="{{name}}" type="checkbox" value="1" id="{{_id}}" />
                <label for="{{_id}}" class=" label">{{name}}</label>
            </div>
            {{/each}}
        </div>

        {{> "systems/vagabonds-in-the-wilds/templates/dialog/parts/items.hbs"}}

    </div>
    {{> "systems/vagabonds-in-the-wilds/templates/dialog/parts/bonus_push.hbs"}}

</div>