<div class="vagabonds-dialog">

    <div class="input-group method">
        <div class="input big">
            <label for="method" class="label">{{localize 'VAGABONDS.ImproveMethod'}}</label>
            <div class="value">
                <select id="method">
                    {{!-- {{#select selectedMethod}} --}}
                    <option value="none">{{localize "VAGABONDS.NoMethod"}}</option>
                    {{#each methods}}
                    <option value="{{@key}}">{{label}} ({{value}})</option>
                    {{/each}}
                    {{!-- {{/select}} --}}
                </select>
            </div>
        </div>
    </div>

</div>