<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="char-header">

        <div class="description input-group">

            {{!-- Character name --}}
            <div class="input big">
                <div class="label">{{localize "VAGABONDS.ActorName"}}</div>
                <div class="value"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'VAGABONDS.ActorName'}}" style="height: auto;" /></div>
            </div>
            <div class="separator"></div>

            {{!-- Background --}}
            <div class="input">
                <div class="label">{{localize "VAGABONDS.ActorBackground"}}</div>
                <div class="value"><input name="system.description.background" type="text"
                        value="{{system.description.background}}" placeholder="" data-dtype="String" /></div>
            </div>
            <div class="separator"></div>

            {{!-- Physique --}}
            <div class="input">
                <div class="label">{{localize "VAGABONDS.Physique"}}</div>
                <div class="value"><input name="system.description.physique" type="text"
                        value="{{system.description.physique}}" placeholder="" data-dtype="String" /></div>
            </div>
            <div class="separator"></div>

            {{!-- Mark --}}
            <div class="input">
                <div class="label">{{localize "VAGABONDS.Mark"}}</div>
                <div class="value"><input name="system.description.mark" type="text" value="{{system.description.mark}}"
                        placeholder="" data-dtype="String" /></div>
            </div>
            <div class="separator"></div>

            {{!-- Clothes --}}
            <div class="input">
                <div class="label">{{localize "VAGABONDS.Clothes"}}</div>
                <div class="value"><input name="system.description.clothes" type="text"
                        value="{{system.description.clothes}}" placeholder="" data-dtype="String" /></div>
            </div>
            <div class="separator"></div>

            {{!-- Personality --}}
            <div class="input">
                <div class="label">{{localize "VAGABONDS.Personality"}}</div>
                <div class="value"><input name="system.description.personality" type="text"
                        value="{{system.description.personality}}" placeholder="" data-dtype="String" /></div>
            </div>
            <div class="separator"></div>

            {{!-- Motivation --}}
            <div class="input">
                <div class="label">{{localize "VAGABONDS.Motivation"}}</div>
                <div class="value"><input name="system.description.motivation" type="text"
                        value="{{system.description.motivation}}" placeholder="" data-dtype="String" /></div>
            </div>
        </div>

        {{!-- Methods --}}
        <div class="methods input-group">
            {{#each system.attributes}}
            <div class="method attribute rollable" data-attribute="{{@key}}">
                <div class="method-name label">{{this.label}}</div>
                <div class="value">
                    {{#repeat this.value}}
                    <div class="bubble filled inverted"></div>
                    {{/repeat}}
                    {{#repeat 4 start=this.value}}
                    <div class="bubble inverted"></div>
                    {{/repeat}}
                </div>
            </div>
            {{#each this.methods}}
            <div class="method">
                <input name="system.methods.{{@key}}.used" class="method-used label" type="checkbox" {{checked
                    this.used}} />
                <div class="method-name label rollable" data-method="{{@key}}">{{this.label}}</div>
                {{!-- <input name="system.methods.{{@key}}.value" class="value" type="number" value="{{this.value}}"
                    data-dtype="Number" /> --}}
                <div class="value">
                    {{#repeat this.value}}
                    <div class="bubble filled"></div>
                    {{/repeat}}
                    {{#repeat 4 start=this.value}}
                    <div class="bubble"></div>
                    {{/repeat}}
                </div>
            </div>
            {{/each}}
            {{/each}}
        </div>
        {{!-- Fatigue --}}
        <div class="fatigue input-group">
            <div class="input big">
                <div class="label">{{localize "VAGABONDS.Fatigue"}}</div>
                <div class="value">
                    {{!-- {{system.fatigue.value}}/{{system.fatigue.max}} --}}

                    {{#repeat system.fatigue.value}}
                    <div class="bubble filled fatigue-bubble" fatigue="{{this}}"></div>
                    {{/repeat}}

                    {{#repeat system.fatigue.max start=system.fatigue.value}}
                    <div class="bubble fatigue-bubble" fatigue="{{this}}"></div>
                    {{/repeat}}

                </div>
            </div>
            <div class="separator"></div>
            <div class="input big">
                <div class="label">{{localize "VAGABONDS.Trauma"}}</div>
                <div class="value trauma-conditions">
                    {{#each traumaConditions}}
                    {{#if this.checked}}
                    <div class="trauma-condition checked" trauma="{{@key}}" title="{{this.label}}">
                        {{this.label}}
                    </div>
                    {{else}}
                    <div class="trauma-condition" trauma="{{@key}}" title="{{this.label}}">
                        {{this.label}}
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Portrait --}}
        <div class="image input-group">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            {{#if actor.system.incapacitated}}
            {{!-- <img class="incapacitated" src="/systems/vagabonds-in-the-wilds/assets/icons/knockout.svg" /> --}}
            <img class="incapacitated" src="icons/svg/stoned.svg" />
            {{/if}}
        </div>

        {{!-- Proficiencies --}}
        <div class="proficiencies input-group">
            <div class="divider50"></div>
            <div class="header">
                <div class="title">{{localize "VAGABONDS.Proficiencies"}}</div>

                <div class="controls">
                    <a class="control item-create" title="{{localize 'VAGABONDS.Create'}}" data-type="proficiency">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            {{#each proficiencies as |proficiency id|}}
            <div class="proficiency flex50 item" data-item-id="{{proficiency._id}}">
                <div class="item-name">{{proficiency.name}}</div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'VAGABONDS.Edit'}}"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'VAGABONDS.Delete'}}"><i
                            class="fas fa-trash"></i></a>
                </div>
            </div>
            {{/each}}
        </div>

        {{!-- Talents --}}
        <div class="talents input-group">
            <div class="header">
                <div class="title">{{localize "VAGABONDS.Talents"}}</div>
                <div class="controls">
                    <a class="control item-create" title="{{localize 'VAGABONDS.Create'}}" data-type="talent">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            {{#each talents as |talent id|}}
            <div class="talent item" data-item-id="{{talent._id}}">
                <div class="item-name">{{talent.name}}</div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'VAGABONDS.Edit'}}"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'VAGABONDS.Delete'}}"><i
                            class="fas fa-trash"></i></a>
                </div>
            </div>
            {{/each}}
        </div>

        {{!-- Buttons --}}
        <div class="buttons">
            <div class="button-bar">
                <a id="take-damage">{{localize "VAGABONDS.TakeDamage"}}</a>
                <a id="take-rest">{{localize "VAGABONDS.TakeRest"}}</a>
                <a id="cast-magic">{{localize "VAGABONDS.CastMagic"}}</a>
                <a id="end-session">{{localize "VAGABONDS.EndSession"}}</a>
            </div>
        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="inventory">{{localize "VAGABONDS.Inventory"}}
            ({{usedInventory}}/{{maxInventoryTotal}})</a>
        <a class="item" data-tab="notes">{{localize "VAGABONDS.Notes"}}</a>
        <a class="item" data-tab="biography">{{localize "VAGABONDS.Biography"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Inventory Tab --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{> "systems/vagabonds-in-the-wilds/templates/actor/parts/actor-inventory.hbs"}}
        </div>

        {{!-- Notes Tab --}}
        <div class="tab notes" data-group="primary" data-tab="notes">
            {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll
            data to the rollData property. --}}
            {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner
            editable=editable}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
            {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll
            data to the rollData property. --}}
            {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner
            editable=editable}}
        </div>

    </section>
</form>