<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="image input-group" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="input-group">
      <div class="input big">
        <div class="label">{{localize "VAGABONDS.ItemName"}}</div>
        <div class="value"><input name="name" type="text" value="{{item.name}}"
            placeholder="{{localize 'VAGABONDS.ItemName'}}" style="height: auto;" /></div>
      </div>
      <div class="seperatorLine"></div>

      <div class="input">
        <div class="label">{{localize "VAGABONDS.ItemSize"}}</div>
        <div class="value">
          <input name="system.size" type="number" value="{{system.size}}" data-dtype="Number" />
          <!-- {{numberInput system.size name="size" step=1 min=0 max=2}} -->
          <div>{{localize "VAGABONDS.Slots"}}</div>
        </div>
      </div>
      <div class="seperatorLine"></div>

      <div class="input">
        <div class="label">{{localize "VAGABONDS.ItemBonus"}}</div>
        <div class="value">
          <input name="system.bonus" type="number" value="{{system.bonus}}" data-dtype="Number" />
          <!-- {{numberInput system.bonus name="bonus" step=1}} -->
        </div>
      </div>
      <div class="seperatorLine"></div>

      <div class="input">
        <div class="label">{{localize "VAGABONDS.ItemValue"}}</div>
        <div class="value">
          <input name="system.pennies.value" type="number" value="{{system.pennies.value}}" data-dtype="Number" />
          <!-- {{numberInput system.pennies.value name="value" step=1 min=0}} -->
          <div>{{localize "VAGABONDS.Pennies"}}</div>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>
  </section>
</form>